@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    font-family: "Raleway";
}

header{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-bottom: 10px;
}

.knopki{
    padding-left: 30px;
    font-size: 25px;
    transition: all 0.3s ease
}

.knopki:hover {
    transform: scale(1.1); /* Увеличиваем размер кнопки при наведении */
    opacity: 0.8; /* Уменьшаем прозрачность кнопки при наведении */
}

/* .kartochki{
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    font-size: 23px
} */

.kartochki {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    justify-content: center; /* Выравниваем элементы по центру */
    padding: 10px; /* Добавляем внутренний отступ между элементами */
    align-items: center;
    font-size: 23px;
    padding-right: 15px;
    padding-left: 15px;
}

.kartochki-item {
    flex: 1 1 300px; /* Устанавливаем желаемую ширину элемента (можно изменить значение) */
    margin: 10px; /* Добавляем внешний отступ между элементами */
    max-width: calc(50% - 20px); /* Устанавливаем максимальную ширину элемента, чтобы они не выходили за пределы body */
    box-sizing: border-box; /* Учитываем внешний отступ в общей ширине элемента */
}

.hit1{
    height:auto;
    width: 100%;
}
.verh{
    height:auto;
    width: 100%;
}

.nizh{
    height:auto;
    width: 100%;
}

.kartochki:hover{
    border: 1px solid;
    transition: 1ms;
}

.big-pic{
    text-align: center;
    position: relative;
    padding: 0px 0px 58% 0px;
} 

.big{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-photo1{
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-photo2{
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hit{
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
}

.text{
    font-size: 30px;
}


.name{
    margin-top: 0px;
    text-align: center;
    font-size: 18px;
    word-wrap: break-word

}

.about{
    font-size: 80px;
    width: 1300px;
    text-align: center;
}

.info{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(246, 246, 244);
}

.info-text{
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

input{
    width: 600px;
    height: 250px;
    border: 1px solid;
    text-align: left;
    vertical-align: top; 

}

.vvod{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    padding-left: 260px;
    margin-bottom: 0px;
}

.pict{
    display: flex;
    flex-direction: column;
}

.back{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    background-color: rgb(246, 246, 244);
}

.otz{
    margin-top: 20px;
    margin-bottom: 20px;
}

.but{
    margin-top: 20px;
    width: 200px;
    height: 40px;
}


/* Для маленьких экранов */
@media screen and (max-width: 768px) {
    /* Здесь настраиваются стили для маленьких экранов */
    body {
        font-size: 16px;
    }

    header {
        padding-bottom: 5px;
    }
    
    .img-photo1 {
        font-size: 60px; /* Adjust the font size for small screens */
    }
    
    .img-photo2 {
        font-size: 30px; /* Adjust the font size for small screens */
    }


    .knopki {
        padding-left: 15px;
        font-size: 10px;
    }

    .kartochki {
        font-size: 18px;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%; /* Изменение ширины картинок на 100% для маленьких экранов */
        height: auto; /* Автоматическое подстраивание высоты */
    }

    .name {
        font-size: 20px;
        margin-top: 0px;
        text-align: center;
        word-wrap: break-word
    }

    .about {
        font-size: 50px;
        width: 100%;
    }


    .info{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(246, 246, 244);
    }

    .info-text {
        font-size: 20px;
    }

    input {
        width: 100%;
        height: 200px;
    }

    .vvod {
        padding-left: 20px;
        font-size: 30px;
    }

    .but {
        width: 150px;
        height: 30px;
    }

    .hit{
        flex-wrap: wrap;
        max-width: 100%;
    }

    .pict{
        display: flex;
        flex-direction: row;
        width: 100%; /* Изменение ширины картинок на 100% для маленьких экранов */
        height: auto; /* Автоматическое подстраивание высоты */
    }

    .nizh{
        display: flex;
        flex-direction: row;
        height:auto;
        width: 100%;
    }

    .verh{
        display: flex;
        flex-direction: row;
        height:auto;
        width: 100%;
    }



    .big-pic{
        max-width: 100%;
        height: auto;
        display: block;
    }

    .big{
        width: 100%;
        height: auto;
    }

    .back{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        background-color: rgb(246, 246, 244);
    }

}

/* Для средних экранов */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Здесь настраиваются стили для средних экранов */
    body {
        font-size: 18px;
    }

    header {
        padding-bottom: 7px;
    }


    .img-photo1 {
        font-size: 80px; /* Adjust the font size for medium screens */
    }
    
    .img-photo2 {
        font-size: 35px; /* Adjust the font size for medium screens */
    }


    .knopki {
        padding-left: 20px;
        font-size: 20px;
    }

    .kartochki {
        font-size: 20px;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%; /* Изменение ширины картинок на 100% для маленьких экранов */
        height: auto; /* Автоматическое подстраивание высоты */
    }


    .name {
        font-size: 25px;
        margin-top: 0px;
        text-align: center;
        word-wrap: break-word
    }

    .about {
        font-size: 60px;
        width: 100%;
    }

    .info-text {
        font-size: 23px;
    }

    input {
        width: 50%;
        height: 220px;
    }

    .vvod {
        padding-left: 150px;
        font-size: 40px;
    }

    .but {
        width: 180px;
        height: 35px;
    }

    .hit{
        flex-wrap: wrap;
    }
    
    .pict{
        display: flex;
        flex-direction: column;
        width: 100%; /* Изменение ширины картинок на 100% для маленьких экранов */
        height: auto; /* Автоматическое подстраивание высоты */
    }

    .big-pic{
        object-fit: cover;
        object-position: 50% 50%;
    }

    .big{
        width: 100%;
        height: auto;
    }


}


/* Для больших экранов */
@media screen and (min-width: 1025px) {
    /* Здесь настраиваются стили для больших экранов */
    body {
        font-size: 20px;
    }

    header {
        padding-bottom: 10px;
    }

    .img-photo1 {
        font-size: 100px; /* Adjust the font size for large screens */
    }
    
    .img-photo2 {
        font-size: 40px; /* Adjust the font size for large screens */
    }

    .knopki {
        padding-left: 30px;
        font-size: 25px;
    }

    .kartochki {
        font-size: 23px;
        padding-right: 20px;
        padding-left: 20px;
        width: 100%; /* Изменение ширины картинок на 100% для маленьких экранов */
        height: auto; /* Автоматическое подстраивание высоты */
    }

    .name {
        font-size: 35px;
        margin-top: 0px;
        text-align: center;
        word-wrap: break-word
    }

    .about {
        font-size: 80px;
        width: 1300px;
    }

    .info-text {
        font-size: 25px;
    }

    input {
        width: 600px;
        height: 250px;
    }

    .vvod {
        padding-left: 260px;
        font-size: 48px;
    }

    .but {
        width: 200px;
        height: 40px;
    }

    .pict{
        display: flex;
        flex-direction: column;
        width: 50%; /* Изменение ширины картинок на 100% для маленьких экранов */
        height: auto; /* Автоматическое подстраивание высоты */
    }

    .big-pic{
        object-fit: cover;
        object-position: 50% 50%;
    }

    .big{
        width: 100%;
        height: auto;
    }

}


